{% extends "base.html.twig" %}
{% block body %}

    <div class="row my-5">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card text-white bg-secondary my-5 text-center">
                        <div class="card-body">
                            <p class="text-white m-0">
                                AUTRES ARTICLES DU VENDEUR
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for articleUser in articles %}
                    {% if articleUser.idUser == article.idUser %}
                        <div class="col-lg-4 col-md-5 pb-3">
                            <a href="{{ path('article.show', { 'id' : articleUser.id }) }}" class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <img src="https://via.placeholder.com/35x35" class="rounded" alt="...">
                                        <span class="ml-2">{{ articleUser.idUser.nickname }}</span>
                                    </li>
                                </ul>
                                <img class="card-img-top" src="https://via.placeholder.com/180x100?text=Photo+Article"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h4>{{ articleUser.price }} €</h4>
                                    <p class="card-text text-muted">
                                        {{ articleUser.title }} <br/>
                                        {% if articleUser.integral %}Intégral{% endif %}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{ article.price }} €</h2>
                            <hr/>
                            <ul>
                                <li>SERIE : {{ article.title }}</li>
                                <li>AUTEUR : {{ article.author }}</li>
                                <li>GENRE: {{ article.genre }}</li>
                            </ul>
                            <h5 class="card-title">
                                {{ article.title }}
                            </h5>
                            <p class="card-text">
                                {{ article.description }}
                            </p>
                            <ul>
                                <li>MODE DE PAIEMENT : {{ article.idUser.payment }}</li>
                            </ul>
                            <div class="text-center">
                                <button class="btn btn-block btn-outline-primary">Envoyer un message</button>
                                <button class="btn btn-block btn-outline-primary">Favoris</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('article.show', { 'id' : article.id }) }}" class="card">
                        <div class="card-body">
                            <img src="https://via.placeholder.com/80x80" class="rounded" alt="...">
                            <span class="ml-2">{{ article.idUser.nickname }}</span>
                            <hr>
                            <p>{{ article.idUser.city }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}