{% extends "base.html.twig" %}
{% block body %}

    <div class="row my-5">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card text-white bg-secondary my-5 text-center">
                        <div class="card-body">
                            <p class="text-white m-0">
                                AUTRES ARTICLES DU VENDEUR
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card One</h2>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam,
                                maxime minus quam molestias corporis quod, ea minima accusamus.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary btn-sm">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card One</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
                                quas ex
                                numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary btn-sm">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card One</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
                                quas ex
                                numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary btn-sm">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card One</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
                                quas ex
                                numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary btn-sm">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{ article.price }} €</h2>
                            <hr/>
                            <ul>
                                <li>mode</li>
                                <li>de</li>
                                <li>livraison</li>
                            </ul>

                            <ul>
                                <li>SERIE : {{ article.title }}</li>
                                <li>AUTEUR : {{ article.author }}</li>
                                <li>GENRE: {{ article.genre }}</li>
                            </ul>

                            <h5 class="card-title">
                                {{ article.title }}
                            </h5>
                            <p class="card-text">
                                {{ article.description }}
                            </p>
                            <div class="text-center">
                                <button class="btn btn-block btn-outline-primary">Envoyer un message</button>
                                <button class="btn btn-block btn-outline-primary">Favoris</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('article.show', { 'id' : article.id }) }}" class="card">
                        <div class="card-body">
                            <img src="https://via.placeholder.com/80x80" class="rounded" alt="...">
                            <span class="ml-2">Nom du vendeur</span>
                            <hr>
                            <p>Région</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}