{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <div class="row align-items-center my-5">
        <div class="col-lg-7 text-center">
            <p>
                <img class="img-fluid rounded mb-4 mb-lg-0"
                     src="https://static.lpnt.fr/images/2012/03/15/manga-paris-529668-jpg_361246_660x281.JPG" alt="">
            </p>
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light text-center" style="color: #A80038; font-style: italic; font-weight: bold;">
                MangaDoc</h1>
            <p class="text-center">
                Le site incontournable du manga d’occasion ! <br/>
                Vendez, échangez , achetez !
            </p>
            <p class="text-center">
                {% if app.user %}
                    <a class="btn btn-primary" href="{{ path('user_show', {'id': app.user.id}) }}">
                        Commencer à vendre !
                    </a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('app_login') }}">Commencer à vendre !</a>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        {% for article in articles %}
            <div class="col-lg-3 col-md-4 pb-3">

                <a href="{{ path('article_show', { 'id' : article.id }) }}" class="card card-test">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <img src="https://b.kisscc0.com/20180817/xkw/kisscc0-suit-2-avatar-female-computer-icons-woman-female-avatar-5-5b7789aa1aa417.1067936215345606821091.png"
                                 width="35" height="35" class="rounded" alt="...">
                            <span class="ml-2 nickname">{{ article.idUser.nickname }}</span>
                        </li>
                    </ul>
                    <img class="card-img-top" src="{{ article.imageUrl }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4>{{ article.price }} €</h4>
                        <p class="card-text text-muted">
                            {{ article.title }} <br/>
                            {% if article.integral %}Intégral{% endif %}
                        </p>
                    </div>
                </a>
            </div>
        {% else %}
            <p class="text-center">Aucun article n'a été trouvé</p>
        {% endfor %}
    </div>

{% endblock %}