{{ form_start(form) }}

<div class="form-group row">
    {{ form_label(form.title, "Titre", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
    {{ form_errors(form.title) }}

    <div class="col-sm-12">
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
    {{ form_errors(form.description) }}

    <div class="col-sm-12">
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.author, "Auteur", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
    {{ form_errors(form.author) }}

    <div class="col-sm-12">
        {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.editor, "Editeur", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
    {{ form_errors(form.editor) }}

    <div class="col-sm-12">
        {{ form_widget(form.editor, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.state, "Etat", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
    {{ form_errors(form.state) }}

    <div class="col-sm-12">
        {{ form_widget(form.state, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.price, "Prix", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
    {{ form_errors(form.price) }}

    <div class="col-sm-12">
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.genre, "Genre", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
    {{ form_errors(form.genre) }}

    <div class="col-sm-12">
        {{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group row ml-1">
    {{ form_widget(form.integral, {'attr': {'class': 'form-check'}}) }}

    {{ form_label(form.integral, "Intégral", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
    {{ form_errors(form.integral) }}

    <div class="col-sm-12">
    </div>
</div>

<div class="form-group row">
    <label for="exampleFormControlFile1" class="col-sm-2 col-form-label">Photo</label>

    <div class="col-sm-12">
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
</div>


<p class="text-center">
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
</p>
{{ form_end(form) }}
