{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <div class="row">
        {% for article in articles %}
            <div class="col-lg-3 col-md-4 pb-3">
                <a href="{{ path('article_show', { 'id' : article.id }) }}" class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <img src="https://b.kisscc0.com/20180817/xkw/kisscc0-suit-2-avatar-female-computer-icons-woman-female-avatar-5-5b7789aa1aa417.1067936215345606821091.png" width="35" height="35" class="rounded" alt="...">
                            <span class="ml-2">
                                {% if article.idUser %}{{ article.idUser.nickname }}{% else %}Nom du vendeur{% endif %}</span>
                        </li>
                    </ul>
                    <img class="card-img-top" src="{{ article.imageUrl }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4>{{ article.price }} €</h4>
                        <p class="card-text text-muted">
                            {{ article.title }} <br/>
                            {% if article.integral %}Intégral{% endif %}
                        </p>
                    </div>
                </a>
            </div>
        {% else %}
            <p class="text-center">Aucun article n'a été trouvé</p>
        {% endfor %}
    </div>
{% endblock %}