{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <div class="row my-5">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ article.imageUrl }}" alt="...">
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-4">
                    <hr class="divider"/>
                </div>
                <div class="col-md-4 text-center">
                    <p class="divider">Autres articles du vendeur</p>
                </div>
                <div class="col-md-4">
                    <hr class="divider"/>
                </div>
            </div>

            <div class="row">
                {% for articleUser in articles %}
                    {% if articleUser.idUser == article.idUser %}
                        <div class="col-lg-4 col-md-5 pb-3">
                            <a href="{{ path('article_show', { 'id' : articleUser.id }) }}" class="card card-test">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <img src="https://b.kisscc0.com/20180817/xkw/kisscc0-suit-2-avatar-female-computer-icons-woman-female-avatar-5-5b7789aa1aa417.1067936215345606821091.png"
                                             width="35" height="35" class="rounded" alt="...">
                                        <span class="ml-2 nickname">{{ articleUser.idUser.nickname }}</span>
                                    </li>
                                </ul>
                                <img class="card-img-top" src="{{ articleUser.imageUrl }}"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h4>{{ articleUser.price }} €</h4>
                                    <p class="card-text text-muted">
                                        {{ articleUser.title }} <br/>
                                        {% if articleUser.integral %}Intégral{% endif %}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="card card-test">
                        <div class="card-body">
                            <h2 class="card-title">{{ article.price }} €</h2>
                            <hr/>
                            <p><i class="fas fa-book mx-2 text-muted"></i> {{ article.title }}</p>
                            <p><i class="fas fa-user mx-2 text-muted"></i> {{ article.author }}</p>
                            <p><i class="fas fa-bookmark mx-2 text-muted"></i> {{ article.genre }}</p>
                            <h5 class="card-title">
                                {{ article.title }}
                            </h5>
                            <p class="card-text">
                                {{ article.description }}
                            </p>
                            <p>
                                <i class="fas fa-euro-sign mx-2 text-muted"></i> {{ article.idUser.payment }}
                            </p>
                            <div class="text-center">
                                <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Contacter le vendeur
                                </button>
                                {#<button class="btn btn-block btn-outline-primary"><i class="far fa-heart"></i> #}
                                    {#Favoris#}
                                {#</button>#}
                                {% if app.user and app.user.id == article.idUser.id %}
                                    <a class="btn btn-block btn-success"
                                       href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
                                    {{ include('article/_delete_form.html.twig') }}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('user_show', {'id': article.idUser.id}) }}" class="card card-test">
                        <div class="card-body">
                            <img src="https://b.kisscc0.com/20180817/xkw/kisscc0-suit-2-avatar-female-computer-icons-woman-female-avatar-5-5b7789aa1aa417.1067936215345606821091.png"
                                 width="100" height="100" class="rounded" alt="...">
                            <span class="ml-2 nickname">{{ article.idUser.nickname }}</span>
                            <hr>
                            <p>
                                <i class="fas fa-map-marker-alt mx-2 text-muted"></i>
                                {{ article.idUser.city }}, {{ article.idUser.country }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ article.idUser.nickname }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> <i class="fas fa-phone mx-2 text-muted"></i> <a href="tel:0616713876">06 16 71 38 76</a> </p>
                    <p> <i class="far fa-envelope mx-2 text-muted"></i> <a href="mailto:{{ article.idUser.email }}">{{ article.idUser.email }}</a> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{#{% block javascripts %}#}

    {#<script type="text/javascript">#}
        {#$(document).ready(function() {#}
            {#$('#myModal').on('shown.bs.modal', function() {#}
                {#$('#myInput').trigger('focus')#}
            {#})#}
        {#})#}
    {#</script>#}
{#{% endblock %}#}
