{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <div class="row my-5">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="https://static.lpnt.fr/images/2012/03/15/manga-paris-529668-jpg_361246_660x281.JPG" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card text-white bg-secondary my-5 text-center">
                        <div class="card-body">
                            <p class="text-white m-0">
                                AUTRES ARTICLES DU VENDEUR
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for articleUser in articles %}
                    {% if articleUser.idUser == article.idUser %}
                        <div class="col-lg-4 col-md-5 pb-3">
                            <a href="{{ path('article_show', { 'id' : articleUser.id }) }}" class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <img src="https://b.kisscc0.com/20180817/xkw/kisscc0-suit-2-avatar-female-computer-icons-woman-female-avatar-5-5b7789aa1aa417.1067936215345606821091.png" width="35" height="35" class="rounded" alt="...">
                                        <span class="ml-2">{{ articleUser.idUser.nickname }}</span>
                                    </li>
                                </ul>
                                <img class="card-img-top" src="https://static.lpnt.fr/images/2012/03/15/manga-paris-529668-jpg_361246_660x281.JPG"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h4>{{ articleUser.price }} €</h4>
                                    <p class="card-text text-muted">
                                        {{ articleUser.title }} <br/>
                                        {% if articleUser.integral %}Intégral{% endif %}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{ article.price }} €</h2>
                            <hr/>
                            <ul>
                                <li>SERIE : {{ article.title }}</li>
                                <li>AUTEUR : {{ article.author }}</li>
                                <li>GENRE: {{ article.genre }}</li>
                            </ul>
                            <h5 class="card-title">
                                {{ article.title }}
                            </h5>
                            <p class="card-text">
                                {{ article.description }}
                            </p>
                            <ul>
                                <li>MODE DE PAIEMENT : {{ article.idUser.payment }}</li>
                            </ul>
                            <div class="text-center">
                                <button class="btn btn-block btn-outline-primary">Envoyer un message</button>
                                <button class="btn btn-block btn-outline-primary">Favoris</button>
                                {% if app.user and app.user.id == article.idUser.id %}
                                    <a class="btn btn-block btn-success" href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
                                    {{ include('article/_delete_form.html.twig') }}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('user_show', {'id': article.idUser.id}) }}" class="card">
                        <div class="card-body">
                            <img src="https://b.kisscc0.com/20180817/xkw/kisscc0-suit-2-avatar-female-computer-icons-woman-female-avatar-5-5b7789aa1aa417.1067936215345606821091.png" width="100" height="100" class="rounded" alt="...">
                            <span class="ml-2">{{ article.idUser.nickname }}</span>
                            <hr>
                            <p>{{ article.idUser.city }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    {#<h1>Article</h1>#}

    {#<table class="table">#}
    {#<tbody>#}
    {#<tr>#}
    {#<th>Id</th>#}
    {#<td>{{ article.id }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Title</th>#}
    {#<td>{{ article.title }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Description</th>#}
    {#<td>{{ article.description }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Author</th>#}
    {#<td>{{ article.author }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Editor</th>#}
    {#<td>{{ article.editor }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>State</th>#}
    {#<td>{{ article.state }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Date_added</th>#}
    {#<td>{{ article.dateAdded ? article.dateAdded|date('Y-m-d H:i:s') : '' }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Integral</th>#}
    {#<td>{{ article.integral ? 'Yes' : 'No' }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Price</th>#}
    {#<td>{{ article.price }}</td>#}
    {#</tr>#}
    {#<tr>#}
    {#<th>Genre</th>#}
    {#<td>{{ article.genre }}</td>#}
    {#</tr>#}
    {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('article_index') }}">back to list</a>#}

    {#<a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>#}

    {#{{ include('article/_delete_form.html.twig') }}#}
{% endblock %}
